<button
	(click)='swap($event)'
	[ngClass]='getCurrentTheme()'
>
	<ng-content></ng-content>
	<ku-icon
		class='icon'
		[ngClass]='{"active": (isClicked$ | async)}'
		heightIcon='6'
		widthIcon='6'
		svgIcon='poly'
	>

	</ku-icon>
	<ng-container *ngIf='isClicked$ | async'>
		<div
			kuClickOutside
			(eventOnClick)='close()'
			class='options-container'
		>
			<ng-container *ngFor='let option of options'>
				<ng-container
					*ngTemplateOutlet='optionTemplate || optionsContainer; context: {$implicit: option}'
				></ng-container>
			</ng-container>
		</div>
	</ng-container>
</button>


<ng-template #optionsContainer>
	<div>
		Здесь ничего нет
	</div>
</ng-template>
