<div class='card-container'>
	<div class='card-image-container'>
		<div class='card-header'>
			<p class='chip-hit'>
				ХИТ
			</p>

			<button>
				<ku-icon
					widthIcon='20'
					heightIcon='20'
					svgIcon='balance2'
				></ku-icon>
			</button>

		</div>
		<div class='image-wrapper'>
			<img
				class='card-image'
				src='assets/preview-images/samokat.png'
			/>
		</div>
	</div>

	<div class='card-description'>
		<h4>
			Kugoo Kirin M4
		</h4>

		<div class='card-specs'>
			<span>
				<ku-icon
					widthIcon='18'
					heightIcon='18'
					svgIcon='accumulator-1'
				/>
				<p>
					2000 mAh
				</p>
			</span>

			<span>
				<ku-icon
					widthIcon='18'
					heightIcon='18'
					svgIcon='power-1'
				/>
				<p>
					1,2 л.с
				</p>
			</span>

			<span>
				<ku-icon
					widthIcon='18'
					heightIcon='18'
					svgIcon='speedometer-1'
				/>
				<p>
					60 км/ч
				</p>
			</span>
			<span>
				<ku-icon
					widthIcon='18'
					heightIcon='18'
					svgIcon='timer-1'
				/>
				<p>
					5 часов
				</p>
			</span>
		</div>

		<div class='card-price-container'>
			<div>
				<p class='card-price-discount'>
					39 900 ₽
				</p>
				<h2 class='card-price'>
					29 900 ₽
				</h2>
			</div>

			<div class='card-actions'>
				<button>
					<ku-icon svgIcon='shopping-cart-1-2' widthIcon='20' heightIcon='20'></ku-icon>
				</button>
				<button>
					<ku-icon svgIcon='heart' widthIcon='20' heightIcon='20'></ku-icon>
				</button>
			</div>
		</div>

		<ku-button class='buy-button'>
			Купить в 1 клик
		</ku-button>
	</div>
</div>
