<div class='login-wrapper'>
	<a
		class='back-link'
		routerLink='/'
	>
		Вернуться на главную
		<ku-icon
			svgIcon='arrow-4'
			widthIcon='12'
			heightIcon='10'
		>
		</ku-icon>
	</a>
	<h3>
		Войти
	</h3>
	<form>
		<input
			class='login-input'
			type='text'
			placeholder='Никнейм'
		/>
		<input
			class='login-input'
			type='password'
			placeholder='Пароль'
		>
		<input
			class='login-input'
			type='password'
			placeholder='Секретный код'
		>

		<ku-button class='login-submit-button'>
			Войти
		</ku-button>
	</form>
</div>
