<footer class='footer'>
	<div class='upper-footer-wrapper'>
		<div class='upper-footer'>
			<span>
				Оставьте свою почту и станьте первым, кто получит скидку на новые самокаты
			</span>

			<div class='email-wrapper'>
				<input
					placeholder='Введите ваш email'
					[formControl]='emailControl'
					class='email-input'
				>

				<ku-button
					(click)='onSubmitEmail()'
					[disabled]='!!emailControl.errors'
					class='email-button'
					theme='empty'

				>
					Подписаться
				</ku-button>
			</div>
		</div>
	</div>

	<div class='middle-footer'>
		<div class='middle-footer-column'>
			<h4>
				Каталог товаров
			</h4>

			<a>
				Электросамокаты
			</a>
			<a>
				Электроскутеры
			</a>
			<a>
				Электровелосипеды
			</a>
		</div>
		<div class='middle-footer-column'>
			<h4>
				Покупателям
			</h4>

			<a>
				Сервисный центр
			</a>
			<a>
				Рассрочка
			</a>
			<a>
				Тест-драйв
			</a>
			<a>
				Блог
			</a>
			<a>
				Сотрудничество
			</a>
			<a>
				Контакты
			</a>
			<a>
				Акции
			</a>
		</div>

		<div class='address-block'>
			<div class='address-first-row'>
				<h4>
					Контакты
				</h4>

				<button>
					Сделать звонок
				</button>
			</div>

			<div class='contacts'>
				<div class='contacts-item'>
					<span>
						Call-центр
					</span>
					<span class='contacts-number'>
						+7 (800) 505-54-61
					</span>
					<span class='contacts-date'>
						Пн-Вс 10:00 - 20:00
					</span>
				</div>

				<div class='contacts-item'>
					<span>
						Cервисный центр
					</span>
					<span class='contacts-number'>
						+7 (499) 350-76-92
					</span>
					<span class='contacts-date'>
						Пн-Вс 10:00 - 20:00
					</span>
				</div>
			</div>

			<div class='address-content'>
				<div>
					<span>
						Магазин в Москве
						ул. Ткацкая, 5 стр. 16
					</span>
					<p>
						+7 (499) 406 15 87
					</p>
				</div>

				<div>
					<span>
						Магазин в Санкт-Петербурге ул. Фрунзе, 2
					</span>
					<p>
						+7 (499) 406 15 87
					</p>
				</div>

				<div>
					<span>
						Магазин в Краснодаре
						ул. Восточно-Кругликовская, 86
					</span>
					<p>
						+ 7 (800) 505 54 61
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class='bottom-footer'>
		<div class='download-links-container'>
			<h1>
				KUGOO
			</h1>
			<div class='download-links-button-container'>
				<button class='button-link'>
					<img src='assets/button-links/goggle.png' />
				</button>

				<button class='button-link'>
					<img src='assets/button-links/apple.png' />
				</button>
			</div>
			<nav>
				<ku-download-link
					*ngFor='let link of links'
					[link]='link.link'
				>
					<ku-icon
						heightIcon='20'
						widthIcon='20'
						[svgIcon]='link.iconName'
					></ku-icon>

					<div class='download-links-button'>
						<span>
							{{link.title}}
						</span>

						<span>
							{{link.count}}
						</span>
					</div>
				</ku-download-link>
			</nav>
		</div>

		<div class='req-container'>
			<nav>
				<a routerLink='/requisites'>
					Реквизиты
				</a>
				<a routerLink='/policy'>
					Политика конфидицальности
				</a>
			</nav>

			<div class='req-container-second'>
				<div class='req-payments'>
					<img src='assets/button-links/gpay.png'>
					<img src='assets/button-links/aplpay.png'>
					<img src='assets/button-links/visa.png'>
					<img src='assets/button-links/master-card.png'>
					<img src='assets/button-links/master-card-2.png'>
					<img src='assets/button-links/web-money.png'>
					<img src='assets/button-links/qiwi.png'>
				</div>

				<div class='social-media-container'>
					<p>
						Online чат:
					</p>

					<a class='icon-link'>
						<ku-icon
							heightIcon='14'
							widthIcon='14'
							svgIcon='viber'
						></ku-icon>
					</a>
					<a class='icon-link'>
						<ku-icon
							heightIcon='14'
							widthIcon='14'
							svgIcon='whatsapp'
						></ku-icon>
					</a>
					<a class='icon-link'>
						<ku-icon
							heightIcon='14'
							widthIcon='14'
							svgIcon='telegram'
						></ku-icon>
					</a>
				</div>
			</div>
		</div>
	</div>

</footer>
