<header class='header'>
	<div class='header-up'>
		<div class='nav-wrapper'>
			<nav>
				<a>
					Сервис
				</a>
				<a>
					Сотрудничество
				</a>
				<a>
					Заказать звонок
				</a>

				<div class='nav-icons-container'>
					<a class='icon-link'>
						<ku-icon
							heightIcon='14'
							widthIcon='14'
							svgIcon='viber'
						></ku-icon>
					</a>
					<a class='icon-link'>
						<ku-icon
							heightIcon='14'
							widthIcon='14'
							svgIcon='whatsapp'
						></ku-icon>
					</a>
					<a class='icon-link'>
						<ku-icon
							heightIcon='14'
							widthIcon='14'
							svgIcon='telegram'
						></ku-icon>
					</a>
				</div>
			</nav>

			<div class='number-container'>
				<p>
					+7 (800) 505-54-61
				</p>
				<button>
					<ku-icon
						heightIcon='8'
						widthIcon='8'
						svgIcon='plus'
					></ku-icon>
				</button>
			</div>
		</div>
	</div>
</header>
