<header class='header'>
	<div class='header-up'>
		<div class='nav-top-wrapper'>
			<nav>
				<a>
					Сервис
				</a>
				<a>
					Сотрудничество
				</a>
				<a>
					Заказать звонок
				</a>

				<div class='nav-icons-container'>
					<a class='icon-link'>
						<ku-icon
							heightIcon='14'
							widthIcon='14'
							svgIcon='viber'
						></ku-icon>
					</a>
					<a class='icon-link'>
						<ku-icon
							heightIcon='14'
							widthIcon='14'
							svgIcon='whatsapp'
						></ku-icon>
					</a>
					<a class='icon-link'>
						<ku-icon
							heightIcon='14'
							widthIcon='14'
							svgIcon='telegram'
						></ku-icon>
					</a>
				</div>
			</nav>

			<div class='number-container'>
				<p>
					+7 (800) 505-54-61
				</p>
				<button>
					<ku-icon
						heightIcon='8'
						widthIcon='8'
						svgIcon='plus'
					></ku-icon>
				</button>
			</div>
		</div>

		<nav class='nav-top-wrapper-mobile'>
			<div class='app-description'>
				<img
					class='app-logo'
					src='assets/logo/logotype.png'
				>

				<div class='app-description-container'>
					<span>
						Открыть в приложении
					</span>
					<div class='app-stars'>
						<svg
							width='9'
							height='9'
							viewBox='0 0 9 9'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
							*ngFor='i of [1, 2, 3, 4, 5]'
						>
							<path
								d='M4.5 0L5.68762 2.86538L8.77975 3.10942L6.42161 5.12437L7.14503 8.14058L4.5 6.5205L1.85497 8.14058L2.57839 5.12437L0.220246 3.10942L3.31238 2.86538L4.5 0Z'
								fill='#FFD12E'
							/>
						</svg>

						<p>
							2K
						</p>
					</div>
				</div>
			</div>

			<ku-button class='app-button'>
				Открыть
			</ku-button>
		</nav>
	</div>

	<div class='header-middle'>
		<nav class='nav-middle-wrapper'>

			<div class='nav-middle-block'>
				<a
					routerLink='/'
					class='header-middle-title'
				>
					Kugoo
				</a>
				<div class='catalog-wrapper'>
					<ku-button class='catalog'>
						<ku-icon
							widthIcon='14'
							heightIcon='14'
							svgIcon='menu'
						></ku-icon>
						<span>
							Каталог
						</span>
					</ku-button>
				</div>

				<div class='search-wrapper'>
					<div class='search'>

						<ku-dropdown
							[options]='testOptions'
							class='type-button'
							[optionTemplate]='optionsTemplate'
						>
							Везде
							<ng-template
								#optionsTemplate
								let-option
							>
								<ku-dropdown-option
									[item]='option'
								></ku-dropdown-option>
							</ng-template>
						</ku-dropdown>

						<ku-autocomplete
							placeholder='Искать самокаты KUGO'
							class='search-autocomplete'
						></ku-autocomplete>
					</div>
					<ku-button class='search-button'>
						<ku-icon
							widthIcon='20'
							heightIcon='19'
							svgIcon='search'
						></ku-icon>
					</ku-button>
				</div>
			</div>
			<div class='buttons-container'>
				<button class='icon-wrapper'>
					<ku-icon
						widthIcon='20'
						heightIcon='20'
						svgIcon='balance2'
					>
					</ku-icon>
				</button>

				<button class='icon-wrapper'>
					<ku-icon
						widthIcon='20'
						heightIcon='20'
						svgIcon='heart'
					>
					</ku-icon>
				</button>

				<button class='icon-wrapper'>
					<ku-icon
						widthIcon='20'
						heightIcon='20'
						svgIcon='shopping-cart2'
					>
					</ku-icon>
					<span>
						Корзина
					</span>
				</button>
			</div>

			<div class='buttons-container-mobile'>
				<button class='icon-wrapper'>
					<ku-icon
						widthIcon='16'
						heightIcon='16'
						svgIcon='call-2'
					>
					</ku-icon>
				</button>

				<button class='icon-wrapper'>
					<ku-icon
						widthIcon='16'
						heightIcon='16'
						svgIcon='burger-menu'
					>
					</ku-icon>
				</button>
			</div>
		</nav>
	</div>

	<div class='header-bottom'>
		<div class='header-bottom-mobile'>
			<ku-autocomplete
				placeholder='Искать самокат KUGOO'
				class='header-bottom-mobile-input'
			></ku-autocomplete>
		</div>
		<div class='header-bottom-wrapper'>
			<nav class='bottom-nav'>
				<a>
					О магазине
				</a>

				<a>
					Доставка и оплата

					<span class='bottom-afterlink'>
						Доступна рассрочка
					</span>
				</a>

				<a>
					Тест-драйв
				</a>

				<a>
					Блок
				</a>
				<a>
					Контакты
				</a>
				<a>
					Акции

					<span class='bottom-afterlink'>
						%
					</span>
				</a>
			</nav>
		</div>
	</div>
</header>

