<header class='header'>
	<div class='header-up'>
		<div class='nav-top-wrapper'>
			<nav>
				<a>
					Сервис
				</a>
				<a>
					Сотрудничество
				</a>
				<a>
					Заказать звонок
				</a>

				<div class='nav-icons-container'>
					<a class='icon-link'>
						<ku-icon
							heightIcon='14'
							widthIcon='14'
							svgIcon='viber'
						></ku-icon>
					</a>
					<a class='icon-link'>
						<ku-icon
							heightIcon='14'
							widthIcon='14'
							svgIcon='whatsapp'
						></ku-icon>
					</a>
					<a class='icon-link'>
						<ku-icon
							heightIcon='14'
							widthIcon='14'
							svgIcon='telegram'
						></ku-icon>
					</a>
				</div>
			</nav>

			<div class='number-container'>
				<p>
					+7 (800) 505-54-61
				</p>
				<button>
					<ku-icon
						heightIcon='8'
						widthIcon='8'
						svgIcon='plus'
					></ku-icon>
				</button>
			</div>
		</div>
	</div>

	<div class='header-middle'>
		<p class='header-middle-title'>
			Kugoo
		</p>
		<nav class='nav-middle-wrapper'>
			<div class='ku-button-wrapper'>
				<ku-button>
					<ku-icon
						widthIcon='14'
						heightIcon='14'
						svgIcon='menu'
					></ku-icon>
					<span>
						Каталог
					</span>
				</ku-button>
			</div>

			<div class='search-wrapper'>

			</div>
		</nav>
	</div>

	<div class='header-bottom'>
	</div>
</header>
