@import "mixins"

.header
	display: flex
	flex-direction: column
	width: 100%

	&-up
		width: 100%
		border-bottom: 1px solid #ECF3FF


	&-bottom
		width: 100%
		background: $c-light-gray

		&-wrapper
			@include width-1200
			@include flex-row
			padding: 10px 0

			@include sm
				display: none

		&-mobile
			display: none

			@include sm
				display: flex
				padding: 0 15px
				background-color: white


			&-input
				padding: 9px 10px
				border-radius: 5px
				background-color: $c-light-gray


	&-middle
		align-items: center
		@include flex-row
		@include width-1200

		padding: 30px 0

		@include sm
			padding: 17px 15px

		&-title
			text-transform: uppercase
			@include logo


.nav
	&-middle

		&-wrapper
			width: 100%
			@include flex-row
			align-items: center
			justify-content: space-between



		&-block
			@include flex-row
			width: 100%

	&-top-wrapper
		@include flex-row
		@include width-1200
		padding: 11px 0
		justify-content: space-between
		@include sm
			display: none

		nav
			@include flex-row
			justify-content: space-between
			align-items: center
			width: 100%
			max-width: 351px
			color: $c-gray-600

			a:hover
				color: $c-black



		&-mobile
			display: none

			@include sm
				@include flex-row
				justify-content: space-between
				align-items: center
				padding: 7px 15px



	&-icons-container
		@include flex-row
		justify-content: space-between
		max-width: 53px
		width: 100%

		.icon-link
			display: flex
			color: $c-gray-600

			&:nth-child(1):hover
				color: $c-viber-color

			&:nth-child(2):hover
				color: $c-whatsapp-color

			&:nth-child(3):hover
				color: $c-telegram-color

.number
	&-container
		@include content-12
		font-weight: 500
		@include flex-row
		align-items: center

		button
			background: none
			border: 1px solid $c-gray-600
			color: $c-gray-600
			border-radius: 50%
			margin-left: 9px

			&:hover
				background: $c-gray-600
				color: white


.catalog
	width: 114px
	padding: 8px 18px 9px 15px
	border-radius: 5px

	&-wrapper
		display: flex
		margin-left: 35px

		@include sm
			display: none

	span
		@include content-16

.type

	&-button
		padding: 6px 14px
		border-radius: 5px


.search
	@include flex-row
	border: 2px solid $c-primary-purple
	padding: 4px
	border-radius: 5px 0 0 5px
	height: 100%
	align-items: center
	width: 100%

	&-button
		height: 100%
		padding: 12px
		border-radius: 0 5px 5px 0

	&-wrapper
		@include flex-row
		align-items: center
		margin-left: 20px
		max-width: 603px
		width: 100%

		@include sm
			display: none


	&-autocomplete
		max-width: 435px
		width: 100%
		margin-left: 20px

.icon

	&-wrapper
		display: flex
		padding: 10px
		background: none
		border: none
		border-radius: 100px


		&:hover
			background: $c-light-gray

		span
			margin-left: 10px

			@include md
				display: none

.buttons-container
	@include flex-row
	align-items: center
	max-width: 175px
	width: 100%
	justify-content: space-between

	@include sm
		display: none

	&-mobile
		display: none

		@include sm
			@include flex-row


.bottom
	&-nav
		@include flex-row
		max-width: 776px
		width: 100%
		justify-content: space-between
		align-items: center

		a
			@include content-14

			&:hover
				color: $c-primary-purple

	&-afterlink
		padding: 2px 8px
		@include content-10
		color: white
		background-color: $c-primary-purple
		border-radius: 300px




.app

	&-logo
		width: 25px
		height: 25px

	&-description
		@include flex-row

		&-container
			display: flex
			flex-direction: column
			margin-left: 9px

			span
				@include content-10

	&-button
		padding: 5px 15px
		border-radius: 5px

	&-stars
		display: flex
		align-items: center
		svg
			margin-right: 3px

			&:last-child
				margin: 5px

		p
			font-size: 8px
			font-weight: 400
			color: $c-gray-600





