@import "mixins"

.header
	display: flex
	flex-direction: column
	width: 100%

	&-up
		width: 100%
		border-bottom: 1px solid #ECF3FF

	&-bottom
		width: 100%
		background: $c-light-gray

	&-middle
		align-items: center
		width: 100%
		@include flex-row
		max-width: 1200px
		margin: 0 auto
		padding: 30px 0

		&-title
			font-weight: 700
			font-size: 30px


.nav
	&-middle-wrapper
		@include flex-row

	&-top-wrapper
		@include flex-row
		max-width: 1200px
		margin: 0 auto
		padding: 11px 0
		justify-content: space-between

		nav
			@include flex-row
			justify-content: space-between
			align-items: center
			width: 100%
			max-width: 351px
			color: $c-gray-600

			a:hover
				color: $c-black

	&-icons-container
		@include flex-row
		justify-content: space-between
		max-width: 53px
		width: 100%

		.icon-link
			display: flex
			color: $c-gray-600

			&:nth-child(1):hover
				color: $c-viber-color

			&:nth-child(2):hover
				color: $c-whatsapp-color

			&:nth-child(3):hover
				color: $c-telegram-color

.number
	&-container
		@include content-12
		font-weight: 500
		@include flex-row
		align-items: center

		button
			background: none
			border: 1px solid $c-gray-600
			color: $c-gray-600
			border-radius: 50%
			margin-left: 9px

			&:hover
				background: $c-gray-600
				color: white


.ku-button-wrapper
	margin-left: 35px
	width: 114px

ku-button
	--button-padding: 8px 18px 9px 15px

	span
		@include content-16

.search

	&-wrapper
		@include flex-row
		align-items: center

	.container



