@import "mixins"

.header
	width: 100%

	&-up
		@extend .header
		border-bottom: 1px solid #ECF3FF

	&-bottom
		@extend .header
		background: $c-light-gray


.nav
	&-wrapper
		max-width: 1200px
		margin: 0 auto
		display: flex
		padding: 11px 0
		justify-content: space-between

		nav
			display: flex
			justify-content: space-between
			width: 100%
			max-width: 351px
			color: $c-gray-600

	&-icons-container
		display: flex
		justify-content: space-between
		width: 53px

