<main>
	<section class='scooter-list-container'>
		<div class='scooter-list-title'>
			<h1>
				Электросамокаты
			</h1>
			<div>
				<ku-button
					theme='empty'
					class='button'
				>
					Хиты продаж
				</ku-button>
				<ku-button
					theme='shadow'
					class='button'
				>
					Для города
				</ku-button>
				<ku-button
					theme='shadow'
					class='button'
				>
					Для взрослых
				</ku-button>
				<ku-button
					theme='shadow'
					class='button'
				>
					Для детей
				</ku-button>
			</div>
		</div>
		<div class='scooter-list'>
			<ku-preview-card
				*ngFor='let card of cardData; '
				[cardData]='card'
			></ku-preview-card>
		</div>
		<div class='scooter-button-show'>
			<ku-button
				theme='empty'
			>
				Смотреть все
			</ku-button>
		</div>
	</section>

	<section class='section-service-card'>
		<ng-container *ngFor='let card of serviceCards'>
			<ng-container *ngTemplateOutlet='serviceCard; context: {$implicit: card}'></ng-container>
		</ng-container>
	</section>

	<section class='delivery-slide-section'>
		<ku-slide class='delivery-slide'>
			<img src='assets/slides/drone.png'>
			<p></p>
			<div class='delivery-slide-content'>
				<ku-chip>
					Акция
				</ku-chip>
				<h1>
					Бесплатная доставка электросамокатов по России до 01.09
				</h1>

				<a class='delivery-slide-link' routerLink='/'>
					Подробнее
				</a>
			</div>
		</ku-slide>
	</section>

	<section class='section-accordions'>
		<h1>
			Отвечаем на вопросы покупателей
		</h1>
		<ku-accordion
			#accordion
			class='accordion-wrapper'
		>
			<ku-accordion-header class='accordion'>
				<span>
					Есть ли гарантия того, что придет именно то, что было заказано? А если я оплачу и товар не придет?
				</span>
				<button [class.accordion-active]='accordion.isOpen$ | async'>
					<ku-icon
						svgIcon='akar-plus'
						widthIcon='20'
						heightIcon='20'
					></ku-icon>
				</button>
			</ku-accordion-header>
			<ku-accordion-body class='accordion-body'>
				При покупке электросамоката у нас, вам выдается кассовый чек, товарный чек и гарантийный талон – эти
				документы дают право на гарантийное обслуживание на законодательном уровне.

				Наши сервисные центры находятся в Москве, Санкт-Петербурге и Краснодаре. В случае поломки вы можете
				обратиться туда.

				Если вы живете в городе, где нет нашего сервисного центра, то наш специалист поможет решить вопрос
				удаленно. Он сможет понять какая запчасть вышла из строя и отправит ее вам, если вы сможете сами
				заменить ее. Если удаленно решить вопрос не удастся, специалист создаст трек номер и попросит вас
				отправить самокат транспортной компанией CDEK. Транспортировку Товара (с ремонта/на ремонт) Покупатель
				оплачивает самостоятельно или осуществляет доставку Товара до СЦ своими силами и за свой счет.

				В соответствии со ст. 20 ФЗ «О защите прав потребителей» на ремонт по гарантии дается не более 45 дней.
				В городах, где есть наш сервисный центр ремонт проводится за 3-7 дней.
			</ku-accordion-body>
		</ku-accordion>
		<ku-accordion
			#accordionSecond
			class='accordion-wrapper'
		>
			<ku-accordion-header class='accordion'>
				<span>
					У меня в городе самокаты Kugoo дешевле. Почему?
				</span>
				<button [class.accordion-active]='accordionSecond.isOpen$ | async'>
					<ku-icon
						svgIcon='akar-plus'
						widthIcon='20'
						heightIcon='20'
					></ku-icon>
				</button>
			</ku-accordion-header>
			<ku-accordion-body class='accordion-body'>
				При покупке электросамоката у нас, вам выдается кассовый чек, товарный чек и гарантийный талон – эти
				документы дают право на гарантийное обслуживание на законодательном уровне.

				Наши сервисные центры находятся в Москве, Санкт-Петербурге и Краснодаре. В случае поломки вы можете
				обратиться туда.

				Если вы живете в городе, где нет нашего сервисного центра, то наш специалист поможет решить вопрос
				удаленно. Он сможет понять какая запчасть вышла из строя и отправит ее вам, если вы сможете сами
				заменить ее. Если удаленно решить вопрос не удастся, специалист создаст трек номер и попросит вас
				отправить самокат транспортной компанией CDEK. Транспортировку Товара (с ремонта/на ремонт) Покупатель
				оплачивает самостоятельно или осуществляет доставку Товара до СЦ своими силами и за свой счет.

				В соответствии со ст. 20 ФЗ «О защите прав потребителей» на ремонт по гарантии дается не более 45 дней.
				В городах, где есть наш сервисный центр ремонт проводится за 3-7 дней.
			</ku-accordion-body>
		</ku-accordion>

		<ku-accordion
			#accordionThird
			class='accordion-wrapper'
		>
			<ku-accordion-header class='accordion'>
				<span>
					Как осуществляется сервисное обслуживание в моем городе? Где гарантия, что меня обслужат?
				</span>
				<button [class.accordion-active]='accordionThird.isOpen$ | async'>

					<ku-icon
						svgIcon='akar-plus'
						widthIcon='20'
						heightIcon='20'
					></ku-icon>
				</button>
			</ku-accordion-header>
			<ku-accordion-body class='accordion-body'>
				При покупке электросамоката у нас, вам выдается кассовый чек, товарный чек и гарантийный талон – эти
				документы дают право на гарантийное обслуживание на законодательном уровне.

				Наши сервисные центры находятся в Москве, Санкт-Петербурге и Краснодаре. В случае поломки вы можете
				обратиться туда.

				Если вы живете в городе, где нет нашего сервисного центра, то наш специалист поможет решить вопрос
				удаленно. Он сможет понять какая запчасть вышла из строя и отправит ее вам, если вы сможете сами
				заменить ее. Если удаленно решить вопрос не удастся, специалист создаст трек номер и попросит вас
				отправить самокат транспортной компанией CDEK. Транспортировку Товара (с ремонта/на ремонт) Покупатель
				оплачивает самостоятельно или осуществляет доставку Товара до СЦ своими силами и за свой счет.

				В соответствии со ст. 20 ФЗ «О защите прав потребителей» на ремонт по гарантии дается не более 45 дней.
				В городах, где есть наш сервисный центр ремонт проводится за 3-7 дней.
			</ku-accordion-body>
		</ku-accordion>


		<ku-accordion
			#accordionFourth
			class='accordion-wrapper'
		>
			<ku-accordion-header class='accordion'>
				<span>
					Где находятся пункты самовывоза в моем городе?
				</span>
				<button [class.accordion-active]='accordionFourth.isOpen$ | async'>
					<ku-icon
						svgIcon='akar-plus'
						widthIcon='20'
						heightIcon='20'
					></ku-icon>
				</button>
			</ku-accordion-header>
			<ku-accordion-body class='accordion-body'>
				При покупке электросамоката у нас, вам выдается кассовый чек, товарный чек и гарантийный талон – эти
				документы дают право на гарантийное обслуживание на законодательном уровне.

				Наши сервисные центры находятся в Москве, Санкт-Петербурге и Краснодаре. В случае поломки вы можете
				обратиться туда.

				Если вы живете в городе, где нет нашего сервисного центра, то наш специалист поможет решить вопрос
				удаленно. Он сможет понять какая запчасть вышла из строя и отправит ее вам, если вы сможете сами
				заменить ее. Если удаленно решить вопрос не удастся, специалист создаст трек номер и попросит вас
				отправить самокат транспортной компанией CDEK. Транспортировку Товара (с ремонта/на ремонт) Покупатель
				оплачивает самостоятельно или осуществляет доставку Товара до СЦ своими силами и за свой счет.

				В соответствии со ст. 20 ФЗ «О защите прав потребителей» на ремонт по гарантии дается не более 45 дней.
				В городах, где есть наш сервисный центр ремонт проводится за 3-7 дней.
			</ku-accordion-body>
		</ku-accordion>
	</section>

</main>

<ng-template
	#serviceCard
	let-data
>
	<ku-service-card>
		<div class='service-card'>
			<h2 class='service-card-title'>
				{{data.title}}
			</h2>
			<p>
				{{data.description}}
			</p>

			<a [routerLink]='data.link'>
				Подобрать модель
				<ku-icon
					svgIcon='arrow-4'
					widthIcon='12'
					heightIcon='10'
				>

				</ku-icon>
			</a>
		</div>
		<img
			alt='Card preview image'
			class='service-card-image'
			[src]='data.image'
		>
		<div class='service-card-background'></div>
	</ku-service-card>
</ng-template>
