<ku-dialog-container>
	<ku-dialog-header
		class='dialog-header'
		(onCloseHandler)='closeModal()'
	>
	</ku-dialog-header>
	<ku-dialog-body>
		<div class='dialog-content'>
			<div class='dialog-content-block__first'>
				<h1>
					Менеджер позвонит вам
					в течение 5 минут
				</h1>
				<p>
					ответит на все вопросы и проконсультирует по продуктам Kugoo
				</p>

				<ku-input
					[formControl]='phoneControl'
					[isFloatingLabel]='false'
					placeholder='hi'
					class='dialog-phone-input'
					type='tel'
				></ku-input>

			</div>
			<div>
				<img
					class='dialog-image'
					alt='manager-avatar'
					src=''
				/>
			</div>
		</div>
	</ku-dialog-body>

</ku-dialog-container>
